
@font-face {
  font-family: 'MyFont';
  src: url("PixelMplus12-Regular.ttf");
}

body {
	background-image:url("glittersilver.gif");
	margin:0;
	padding:10pt;
}
div { color:#FF69B4;
	text-align:center;
	font-family:'Myfont',"san-serif";
}

h1 {font-size:75pt;
	width:max-content;
	display:block;
	margin-right:auto;
	margin-left:auto;
	
	}
h2{font-size:20pt;
background-color:transparent;
width:max-content;
display:inline-block;
margin-right: auto;//ここで中央寄せを指定する。
  margin-left : auto;



}
h2:hover{
	color:#fff;
	background-color:#FF69B4;


}
#sample 
{display:inline-block;
background-color:transparent;
width:100%; }

section{ 
color:#fff;
font-size:15pt;
display:inline-block;
background-color:#FF69B4;
}


div.image {
text-align:center;
margin-top:10%;
}
img:hover{
position:relative;
top:3px;
left:3px;
filter:alpha(opacity=80);
opacity:0.8;
}
